<%= if live_flash(@flash, :info) do %>
  <div class="pt-4">
    <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info">
      <%= live_flash(@flash, :info) %>
    </p>
  </div>
<% end %>
<%= if live_flash(@flash, :error) do %>
  <div class="pt-4">
    <p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error">
      <%= live_flash(@flash, :error) %>
    </p>
  </div>
<% end %>

<%= @inner_content %>
